<div style="text-align: center; margin-top: 100px; color: #fff">
  <h1 style="font-size: 3rem; font-family: 'Cinzel', serif">404</h1>
  <p>Kaybolmuş görünüyorsun gezgin...</p>
  <a href="/" style="color: #50c878">Ana Sayfaya Dön</a>
</div>
